body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    padding: 10px;
    margin-bottom:10px;
    color: white;
    background: grey;
    font-size:20px;
    text-align:center;
    border: 5px solid green;
}

nav {
    text-align: center;
    background: lightgrey;
    color: black;
    padding: 10px;
    border: 5px solid red;
    margin-bottom:10px;
}


#section {
    float: left;
    width: 495px;
    height: 250px;
    background: lightblue;
    text-align: center;
    color: black;
    border: 5px solid blue;
    margin-bottom: 10px;
    
}

#aside {
    float:left;
    text-align: left;
    font-size: 18px;
    height: 250px;
    width: 458px;
    border: 5px solid orange;
    margin-left: 10px;
    margin-right: 10px;
}
Article {
    color:black;
    background:lightgrey;
    border: 5px solid cyan;
    margin: 5px;
}
h1 {
    color:#777;
}

h2 {
    color:whitesmoke;
}
h3 {
    color:lightskyblue;
}
p {
    color:black;
    background:#ebebeb;
    text-align: left;
    border: 3px solid black;
    padding:10px;
    margin: 5px;
}



section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    margin-top:20px;
    background-color: #777;
    clear:both;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    
}
